---
import BaseHead from "@astro/base/BaseHead.astro";
import Header from "@astro/header/Header.astro";
import Footer from "@astro/footer/Footer.astro";
import authorConfig from "@config/siteConfig/info.json";
import { getCollection } from "astro:content";
import SpeedInsights from "@vercel/speed-insights/astro";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
import NotesGrid from "@components/ReaactCompoents/MS_Notes/MS_Notes";
export const prerender = true;

export async function getStaticPaths() {
  if (!featureFlags.showNotes) {
    return [];
  }

  const notes = await getCollection("ms_notes");
  const publishedNotes = notes.filter((note) => !note.data.lecture_draft);
  const uniqueSubjects = [
    ...new Set(publishedNotes.map((note) => note.data.subject)),
  ];

  return uniqueSubjects.map((subject) => ({
    params: { subject },
  }));
}

const { subject } = Astro.params;

if (!subject) {
  return new Response("Error: Subject parameter missing", { status: 400 });
}

const publishedNotes = await getCollection("ms_notes", ({ data }) => {
  return !data.lecture_draft && data.subject === subject;
});

const notes = publishedNotes.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
console.log(
  `--- [subject].astro: Found ${notes.length} notes for subject ${subject} ---`
);

try {
  if (!featureFlags.showNotes) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<html lang="en">
  <head>
    <BaseHead
      title={`MS Notes | ${authorConfig.SiteName}`}
      description={`Browse all notes on ${authorConfig.SiteName} and explore categorized content.`}
    />
  </head>
  <body>
    <Header />
    <SpeedInsights />
    <main>
      <section>
        <h1 class="text-3xl font-bold, text-white, text-center">
          Notes for {subject}
        </h1>
        <NotesGrid notes={notes} client:load />
      </section>
    </main>
    <section>
      <Footer class="mt-auto" />
    </section>
  </body>
</html>
