---
import authorConfig from "@config/siteConfig/info.json";
import {
	Briefcase,
	Github,
	Linkedin,
	MessageCircle,
	Send,
	Youtube,
} from "lucide-react";

const { socialLinks } = authorConfig;
---

<div class="flex space-x-4">
  <a
    href={socialLinks.twitter}
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center"
  >
    <span class="sr-only">Follow me on Twitter</span>
    <Send className="h-5 w-5" />
  </a>
  <a
    href={socialLinks.github}
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center"
  >
    <span class="sr-only">GitHub Profile</span>
    <Github className="h-5 w-5" />
  </a>

  <a
    href={socialLinks.upwork}
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center"
  >
    <span class="sr-only">Upwork Profile</span>
    <Briefcase className="h-5 w-5" />
  </a>

  <a
    href={socialLinks.youtube}
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center"
  >
    <span class="sr-only">YouTube Channel</span>
    <Youtube className="h-5 w-5" />
  </a>
  <a
    href={`https://wa.me/${socialLinks.whatsNumber}?text=Hello%20there!`}
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center"
  >
    <MessageCircle className="h-5 w-5" />
  </a>
  <a
    href={`https://www.linkedin.com/in/${socialLinks.linkedin}`}
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center"
  >
    <Linkedin className="h-5 w-5" />
  </a>
</div>
