---
import authorConfig from "@config/siteConfig/info.json";
import GithubSVG from "@assets/svg/github.svg";
import TwitterSVG from "@assets/svg/twitter.svg";
import WhatsNumberSVG from "@assets/svg/whatsapps.svg";
import YoutubeSVG from "@assets/svg/youtube.svg";
import UpworkSVG from "@assets/svg/upwork.svg";
import LinkinedInSVG from "@assets/svg/linkined.svg";

const { socialLinks } = authorConfig;
---

<div class="flex space-x-4">
  <a href={socialLinks.twitter} target="_blank" class="flex items-center">
    <span class="sr-only">Follow me on Twitter</span>
    <TwitterSVG />
  </a>
  <a href={socialLinks.github} target="_blank" class="flex items-center">
    <span class="sr-only">GitHub Profile</span>
    <GithubSVG />
  </a>

  <a href={socialLinks.upwork} target="_blank" class="flex items-center">
    <span class="sr-only">Upwork Profile</span>
    <UpworkSVG />
  </a>

  <a href={socialLinks.youtube} target="_blank" class="flex items-center">
    <span class="sr-only">YouTube Channel</span>
    <YoutubeSVG />
  </a>
  <a
    href={`https://wa.me/${socialLinks.whatsNumber}?text=Hello%20there!`}
    target="_blank"
    class="flex items-center"
  >
    <WhatsNumberSVG />
  </a>
  <a
    href={`https://www.linkedin.com/in/${socialLinks.linkedin}`}
    target="_blank"
    class="flex items-center"
  >
    <LinkinedInSVG />
  </a>
</div>
