---
const { company, position, employementDate, roles, technologies } = Astro.props;
---

<div
  class="rounded-lg p-4 my-4 bg-[#1f2335] text-gray-200 transition-shadow duration-300"
  style="box-shadow: var(--box-shadow);"
>
  <div
    class="mb-2"
    style="font-size: 1.25em; font-weight: bold; color: var(--accent);"
  >
    {position} at {company}
  </div>
  <div class="text-base text-gray-400 mb-2">{employementDate}</div>

  <div class="mb-2">
    <p><strong>Roles:</strong></p>
    <ul class="list-disc pl-5">
      {roles.map((role) => <li>{role}</li>)}
    </ul>
  </div>

  <div class="mb-2">
    <p><strong>Technologies Used:</strong></p>
    <ul class="flex flex-wrap gap-2">
      {
        technologies.map((tech) => (
          <span class="bg-gray-600 rounded-lg py-2 px-3 transition duration-300 transform cursor-pointer hover:bg-gray-500 hover:scale-105">
            {tech}
          </span>
        ))
      }
    </ul>
  </div>

  <div class="text-sm text-gray-500">Employment Date: {employementDate}</div>
</div>
