---
import ExperienceCards from "./ExperienceCard.astro";
import authorConfig from "../../../config/info";
const workExperience = authorConfig.workExperience;
import { featureFlags } from "../../../config/featureFlag";

try {
  if (!featureFlags.showAbout) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<style>
  .experience-container {
    padding: 20px;
  }

  .experience-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
</style>

<div class="experience-container">
  <h2 style="text-align: center;" class="job-experience">Job Experience</h2>
  <div class="experience-cards">
    {
      workExperience?.map((job) => (
        <ExperienceCards
          company={job.companyName}
          position={job.position}
          employementDate={job.employmentTime}
          roles={job.roles}
          technologies={job.toolsUsed}
        />
      ))
    }
  </div>
</div>
