---
const { title, description, imageUrl, technologies, githubLink, deployedLink } =
  Astro.props;

import { Image } from "astro:assets";
---

<div
  class="project-card bg-[#1f2335] border border-[#4C506A40] rounded-[15px] overflow-hidden shadow-custom flex flex-col max-w-[400px]"
>
  <div class="image-container">
    <Image
      src={imageUrl || ""}
      alt={title}
      format="avif"
      height={500}
      width={500}
      class="w-full h-[200px] object-cover"
    />
  </div>
  <div class="content p-2 text-[#f8f8f8]">
    <h3 class="mt-0 text-[#7aa2f7]">{title}</h3>
    <p>{description}</p>
    <div class="technologies flex flex-wrap">
      {
        technologies.map((technology) => (
          <span class="technology-chip inline-block m-1 px-2 py-1 bg-[#3b4252] text-[#f8f8f8] rounded-lg">
            {technology}
          </span>
        ))
      }
    </div>
    <div class="links mt-2">
      {
        githubLink && (
          <a
            href={githubLink}
            target="_blank"
            aria-label="GitHub"
            class="inline-block mr-2 text-[#7aa2f7]"
          >
            <i class="fab fa-github" />
          </a>
        )
      }
      {
        deployedLink && (
          <a
            href={deployedLink}
            target="_blank"
            aria-label="Deployed Location"
            class="inline-block text-[#7aa2f7]"
          >
            <i class="fas fa-external-link-alt" />
          </a>
        )
      }
    </div>
  </div>
</div>
