---
import BaseHead from "../components/AstroCompoent/base/BaseHead.astro";
import Header from "../components/AstroCompoent/header/Header.astro";
import Footer from "../components/AstroCompoent/footer/Footer.astro";
import authorConfig from "../config/info";
import LottieReactCompoent from "../components/ReaactCompoents/LottieAnimation/LottieAnimation";
import contactPageAnimation from "../assets/animation/contact-lottie.json";
export const prerender = true;
import ContactFormReactCompoent from "../components/ReaactCompoents/ConrtactForm/contactform";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<html lang="en">
  <head>
    <BaseHead
      title={authorConfig.SiteName}
      description={authorConfig.SiteDescription}
    />
    <SpeedInsights />
  </head>
  <body>
    <Header />
    <main class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
      <h1 class="text-5xl text-center font-bold mb-12">Let's Collaborate</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
          <ContactFormReactCompoent client:load />
        </div>

        <div
          class="hidden md:flex justify-center items-center lottie-animation"
        >
          <LottieReactCompoent
            client:load
            animationData={contactPageAnimation}
            loop={true}
            autoplay={true}
          />
        </div>
      </div>
    </main>
    <Footer class="mt-auto" />
  </body>
</html>
