---
import BaseHead from "@astro/base/BaseHead.astro";
import Header from "@astro/header/Header.astro";
import Footer from "@astro/footer/Footer.astro";
import SkillsShowcase from "@astro/personal/SkillsShowcase/SkillsShowcase.astro";
import ContactMap from "@astro/home/ContactMap/ContactMap.astro";
import CoreServices from "@astro/home/core-service/core_service.astro";
import PortfolioSection from "@astro/home/portfolio/portfolio.astro";
import TestimonialsSection from "@astro/home/testimonials/testimonials.astro";
import authorConfig from "@config/siteConfig/info.json";
import HeroSection from "@astro/home/Hero/HeroSection.astro";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
export const prerender = true;
import ProcessShowcase from "@astro/personal/Process/ProcessShowcase.astro";
const { name, jobTitle, position, picture, socialLinks } = authorConfig;
try {
  if (!featureFlags.showIndex) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={authorConfig?.SiteName ?? ""}
      description={authorConfig?.SiteDescription ?? ""}
    />
  </head>
  <body>
    <Header />
    <main class="pt-15 mt-0">
      <div class="flex items-center justify-center">
        <HeroSection
          name={name}
          jobTitle={jobTitle}
          position={position}
          picture={picture}
          socialLinks={socialLinks}
        />
      </div>
      <section>
        {featureFlags.enableCoreServices && <CoreServices />}
      </section>

      <section>
        {featureFlags.enableProcessShowcase && <ProcessShowcase />}
      </section>
      <section>
        {featureFlags.enablePortfolioSection && <PortfolioSection />}
      </section>
      <section>
        {featureFlags.enableTestimonialsSection && <TestimonialsSection />}
      </section>
      <section>
        {featureFlags.enableSkillsShowcase && <SkillsShowcase />}
      </section>
      <section>
        <section id="contact-section">
          {featureFlags.enableContactMap && <ContactMap />}
        </section>
      </section>

      <Footer class="mt-auto" />
    </main>
  </body>
</html>
