---
import BaseHead from "@components/AstroComponent/base/BaseHead.astro";
import Footer from "@components/AstroComponent/footer/Footer.astro";
import Header from "@components/AstroComponent/header/Header.astro";
import ContactMap from "@components/AstroComponent/home/ContactMap/ContactMap.astro";
import CoreService from "@components/AstroComponent/home/core-service/core_service.astro";
import HeroSection from "@components/AstroComponent/home/Hero/HeroSection.astro";
import PortfolioSection from "@components/AstroComponent/home/portfolio/portfolio.astro";
import TestimonialsSection from "@components/AstroComponent/home/testimonials/testimonials.astro";
import ProcessShowcase from "@components/AstroComponent/personal/Process/ProcessShowcase.astro";
import SkillsShowcase from "@components/AstroComponent/personal/SkillsShowcase/SkillsShowcase.astro";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
import authorConfig from "@config/siteConfig/info.json";
export const prerender = true;

const { name, jobTitle, position, picture, socialLinks } = authorConfig;
try {
	if (!featureFlags.showIndex) {
		return Astro.redirect("/access-denied");
	}
} catch (_error) {
	return Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={authorConfig?.SiteName ?? ""}
      description={authorConfig?.SiteDescription ?? ""}
    />
  </head>
  <body>
    <Header />
    <main class="pt-15 mt-0">
      <div class="flex items-center justify-center">
        <HeroSection
          name={name}
          jobTitle={jobTitle}
          position={position}
          picture={picture}
          socialLinks={socialLinks}
        />
      </div>
      <section>
        {featureFlags.enableCoreServices && <CoreService />}
      </section>

      <section>
        {featureFlags.enableProcessShowcase && <ProcessShowcase />}
      </section>
      <section>
        {featureFlags.enablePortfolioSection && <PortfolioSection />}
      </section>
      <section>
        {featureFlags.enableTestimonialsSection && <TestimonialsSection />}
      </section>
      <section>
        {featureFlags.enableSkillsShowcase && <SkillsShowcase />}
      </section>
      <section>
        <section id="contact-section">
          {featureFlags.enableContactMap && <ContactMap />}
        </section>
      </section>

      <Footer class="mt-auto" />
    </main>
  </body>
</html>
