---
import BaseHead from "@astro/base/BaseHead.astro";
import Header from "@astro/header/Header.astro";
import Footer from "@astro/footer/Footer.astro";
import "@styles/home/home-page.css";
import FeaturedPost from "@astro/home/FeaturePost/featurePost.astro";
import SkillsShowcase from "@react/personal/JobSkills/jobSkills";
import ContactMap from "@astro/home/ContactMap/ContactMap.astro";
import CustomGitHubStats from "@react/personal/GitHubStats/GitHubStats";
import authorConfig from "@config/siteConfig/info.json";
import HeroSection from "@react/layout/HeroSection/heroSection";
import { featureFlags } from "@config/featureFlag/featureFlag.json";
import SpeedInsights from "@vercel/speed-insights/astro";

export const prerender = true;
const { name, jobTitle, position, picture, socialLinks } = authorConfig;
try {
  if (!featureFlags.showIndex) {
    return Astro.redirect("/access-denied");
  }
} catch (error) {
  return Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={authorConfig?.SiteName ?? ""}
      description={authorConfig?.SiteDescription ?? ""}
    />
  </head>
  <body>
    <Header />
    <SpeedInsights />
    <main class="pt-0 mt-0">
      <HeroSection
        client:load
        name={name}
        jobTitle={jobTitle}
        position={position}
        picture={picture}
        socialLinks={socialLinks}
      />

      <section>
        {featureFlags.showBlog && <FeaturedPost />}
      </section>
      <section>
        {featureFlags.showGitHubStats && <CustomGitHubStats client:visible />}
      </section>

      <section>
        <SkillsShowcase client:visible />
      </section>
      <section style="margin-block-start: 5rem;">
        <ContactMap />
      </section>
    </main>

    <Footer class="mt-auto" />
  </body>
</html>
