---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import authorImage from "../assets/author.jpg";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 1200px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
        text-align: justify;
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: var(--text-light);
      }
      .last-updated-on {
        font-style: italic;
      }
      .author {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
      }
      .author img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 1em;
      }
      #authorname {
        color: var(--text-light);
      }
    </style>
  </head>

  <body>
    <Header />
    <main data-pagefind-body>
      <article>
        <div class="hero-image">
          <!-- {
            heroImage && (
              <img width={1020} height={510} src={heroImage} alt="" />
            )
          } -->
          {
            heroImage && (
              <Image
                src={heroImage || ""}
                alt="hero Image Blog"
                format="avif"
                width={1020}
                height={510}
              />
            )
          }
        </div>
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1>{title}</h1>
            <div class="author">
              <Image src={authorImage} alt="author Avator" format="avif" />
              <span id="authorname">Abdul Rafay</span>
            </div>
            <hr />
          </div>
          <slot />
          <div>
            <h2>Comments</h2>
            <script
              src="https://giscus.app/client.js"
              data-repo="rafay99-epic/Astro-Portfolio-Blog"
              data-repo-id="R_kgDOMZI1RA"
              data-category="General"
              data-category-id="DIC_kwDOMZI1RM4ChJFA"
              data-mapping="url"
              data-strict="0"
              data-reactions-enabled="1"
              data-emit-metadata="0"
              data-input-position="bottom"
              data-theme="dark"
              data-lang="en"
              crossorigin="anonymous"
              async></script>
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
