---
import BaseHead from "../components/AstroCompoent/base/BaseHead.astro";
import Footer from "../components/AstroCompoent/footer/Footer.astro";
import Header from "../components/AstroCompoent/header/Header.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import AdLoader from "../components/ReaactCompoents/AdsLoader/Adloader";
import PostComment from "../components/AstroCompoent/BlogComments/PostComment.astro";
import ShareButtons from "../components/ReaactCompoents/SocialButton/socialButton";
const pageUrl = Astro.url.href;

type Props = {
  title: string;
  pubDate: Date;
  summary: string;
  draft: boolean;
};

const { title, pubDate, summary } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={summary} />
    <style>
      .ad-container {
        margin: 2em 0;
        text-align: center;
      }
      #ad-blocker-message {
        display: none;
        color: red;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <Header />
    <SpeedInsights />
    <main class="w-full max-w-5xl mx-auto px-4 py-8">
      <article class="newsletter">
        <h1
          class="text-4xl sm:text-5xl lg:text-5xl font-extrabold text-center text-gray-800 dark:text-gray-100 leading-tight mb-6"
        >
          {title}
        </h1>

        <p>
          <span class="font-bold">Date: </span>{pubDate.toLocaleDateString()}
        </p>
        {
          summary && (
            <p>
              <span class="font-bold">Summary: </span>
              {summary}
            </p>
          )
        }
        <div>
          <ShareButtons url={pageUrl} pagetitle="Newsletter" />
        </div>
        <hr class="mt-4" />
        <div
          data-aos="fade-up"
          data-aos-delay="300"
          data-aos-anchor-placement="top-bottom"
          class="my-8 prose mx-auto text-justify"
        >
          <slot />
        </div>

        <div class="my-8 text-center">
          <AdLoader client:load />
        </div>
        <div class="my-8 text-center">
          <h2 class="text-2xl font-semibold mb-4">Comments</h2>
          <PostComment />
        </div>
      </article>
    </main>
    <Footer />
  </body><link
    href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    rel="stylesheet"
  />
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" onload="AOS.init()"
  ></script>
</html>
